!README.md
!early-init.el
!init.el
!.github/
!.LICENSE

recentf
history
saveplace
eln-cache/
autosave/
transient/
straight/
tree-sitter/
elpa/

elpa/
tramp
tramp-autosave/
projects
bookmarks
*.elc
/.agent-shell/

elfeed/
org-persist/

.cache/
