!README.md
!early-init.el
!init.el
!.github/
!.LICENSE

recentf
history
saveplace
eln-cache/
autosave/
transient/
straight/repos/
straight/build/
straight/modified/
straight/build-cache.el
!straight/versions/default.el
tree-sitter/
elpa/

elpa/
tramp
tramp-autosave/
projects
bookmarks
*.elc
/.agent-shell/

elfeed/
org-persist/

.cache/
